# Ignore all contents of input_images directory
image_generation/input_images/*
image_generation/output_images/*
conf.env
__pycache__

!image_generation/input_images/.gitkeep
!image_generation/output_images/.gitkeep
# Ignore virtual environment
venv/
